<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.radiance.radiance">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Radiance"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.home.ProfileActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.home.LeaderboardActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.startGame.TimeActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.map.MapParkActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.map.MapDarkJungleActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.map.MapUnderwaterActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.startGame.StoryActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.map.MapRestoActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.map.MapBridgeActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.startGame.QuestionActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.map.MapInTownActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.auth.register.RegisterActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.gameMode.storyMode.StoryModeActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.map.MapForestActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.gameMode.GameModeActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.SplashScreenActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.auth.login.LoginActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.home.HomeActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>