/* Start of stage backgrounds */
#main-background {
	height: 100vh;
	position: relative;
	/* overflow: hidden; */
}

#main-background-image {
	position: absolute;
	z-index: -10;
}
/* End of stage backgrounds */

/* Start of level */
.level-button-image {
	width: 90%;
}

.level-star-image {
	width: 40%;
}

.level-stars {
    position: absolute;
    bottom: -40%;
    left: -25%;
	transform: translateX(10%);
}

.level-star1 {
    position: relative;
    left: -5%;
}

.level-star2 {
    position: relative;
    left: -15%;
}

.level-star3 {
    position: relative;
    left: -25%;
}
/* End of level */

/* Start of stage 1 */
#stage1-level1 {
    position: absolute;
    top: 50%;
    left: 2%;
}

#stage1-level2 {
    position: absolute;
    top: 50%;
    left: 12%;
}

#stage1-level3 {
    position: absolute;
    top: 50%;
    left: 22%;
}

#stage1-level4 {
    position: absolute;
    top: 50%;
    left: 32%;
}

#stage1-level5 {
    position: absolute;
    top: 50%;
    left: 42%;
}

#stage1-level6 {
    position: absolute;
    top: 50%;
    left: 52%;
}

#stage1-level7 {
    position: absolute;
    top: 50%;
    left: 62%;
}

#stage1-level8 {
    position: absolute;
    top: 50%;
    left: 72%;
}

#stage1-level9 {
    position: absolute;
    top: 50%;
    left: 82%;
}

#stage1-level10 {
    position: absolute;
    top: 50%;
    left: 91.9%;
}
/* End of stage 1 */

/* Start of stage 2 */
#stage2-level1 {
    position: absolute;
    top: 86%;
    left: 5%;
}

#stage2-level2 {
    position: absolute;
    top: 86%;
    left: 17%;
}

#stage2-level3 {
    position: absolute;
    top: 86%;
    left: 29%;
}

#stage2-level4 {
    position: absolute;
    top: 86%;
    left: 41%;
}

#stage2-level5 {
    position: absolute;
    top: 86%;
    left: 53%;
}

#stage2-level6 {
    position: absolute;
    top: 76%;
    left: 63%;
}

#stage2-level7 {
    position: absolute;
    top: 60%;
    left: 71%;
}

#stage2-level8 {
    position: absolute;
    top: 44%;
    left: 79%;
}

#stage2-level9 {
    position: absolute;
    top: 28%;
    left: 87.5%;
}

#stage2-level10 {
    position: absolute;
    top: 5%;
    left: 87.5%;
}
/* End of stage 2 */

/* Start of stage 3 */
#stage3-level1 {
    position: absolute;
    top: 43%;
    left: 4%;
}

#stage3-level2 {
    position: absolute;
    top: 28%;
    left: 17%;
}

#stage3-level3 {
    position: absolute;
    top: 18%;
    left: 32%;
}

#stage3-level4 {
    position: absolute;
    top: 12%;
    left: 48%;
}

#stage3-level5 {
    position: absolute;
    top: 14%;
    left: 65%;
}

#stage3-level6 {
    position: absolute;
    top: 44%;
    left: 72%;
}

#stage3-level7 {
    position: absolute;
    top: 55%;
    left: 55%;
}

#stage3-level8 {
    position: absolute;
    top: 77%;
    left: 53%;
}

#stage3-level9 {
    position: absolute;
    top: 77%;
    left: 70%;
}

#stage3-level10 {
    position: absolute;
    top: 78%;
    left: 87%;
}
/* End of stage 3 */

/* Start of stage 4 */
#stage4-level1 {
    position: absolute;
    top: 30%;
    left: 2%;
}

#stage4-level2 {
    position: absolute;
    top: 25%;
    left: 23%;
}

#stage4-level3 {
    position: absolute;
    top: 18%;
    left: 45%;
}

#stage4-level4 {
    position: absolute;
    top: 13%;
    left: 67%;
}

#stage4-level5 {
    position: absolute;
    top: 43%;
    left: 43%;
}

#stage4-level6 {
    position: absolute;
    top: 63%;
    left: 25%;
}

#stage4-level7 {
    position: absolute;
    top: 85%;
    left: 10%;
}

#stage4-level8 {
    position: absolute;
    top: 82%;
    left: 35%;
}

#stage4-level9 {
    position: absolute;
    top: 78%;
    left: 64%;
}

#stage4-level10 {
    position: absolute;
    top: 73%;
    left: 91%;
}
/* End of stage 4 */

/* Start of stage 5 */
#stage5-level1 {
    position: absolute;
    top: 43%;
    left: 4%;
}

#stage5-level2 {
    position: absolute;
    top: 28%;
    left: 17%;
}

#stage5-level3 {
    position: absolute;
    top: 18%;
    left: 32%;
}

#stage5-level4 {
    position: absolute;
    top: 12%;
    left: 48%;
}

#stage5-level5 {
    position: absolute;
    top: 14%;
    left: 65%;
}

#stage5-level6 {
    position: absolute;
    top: 44%;
    left: 72%;
}

#stage5-level7 {
    position: absolute;
    top: 55%;
    left: 55%;
}

#stage5-level8 {
    position: absolute;
    top: 77%;
    left: 53%;
}

#stage5-level9 {
    position: absolute;
    top: 77%;
    left: 70%;
}

#stage5-level10 {
    position: absolute;
    top: 78%;
    left: 87%;
}
/* End of stage 5 */

/* Start of stage 6 */
#stage6-level1 {
    position: absolute;
    top: 43%;
    left: 4%;
}

#stage6-level2 {
    position: absolute;
    top: 20%;
    left: 12%;
}

#stage6-level3 {
    position: absolute;
    top: 10%;
    left: 25%;
}

#stage6-level4 {
    position: absolute;
    top: 30%;
    left: 37%;
}

#stage6-level5 {
    position: absolute;
    top: 55%;
    left: 40%;
}

#stage6-level6 {
    position: absolute;
    top: 78%;
    left: 46%;
}

#stage6-level7 {
    position: absolute;
    top: 82%;
    left: 60%;
}

#stage6-level8 {
    position: absolute;
    top: 60%;
    left: 70%;
}

#stage6-level9 {
    position: absolute;
    top: 30%;
    left: 75%;
}

#stage6-level10 {
    position: absolute;
    top: 10%;
    left: 87%;
}
/* End of stage 6 */

/* Start of stage 7 */
#stage7-level1 {
    position: absolute;
    top: 81%;
    left: 2%;
}

#stage7-level2 {
    position: absolute;
    top: 81%;
    left: 14%;
}

#stage7-level3 {
    position: absolute;
    top: 81%;
    left: 26%;
}

#stage7-level4 {
    position: absolute;
    top: 81%;
    left: 37%;
}

#stage7-level5 {
    position: absolute;
    top: 63%;
    left: 46%;
}

#stage7-level6 {
    position: absolute;
    top: 35%;
    left: 46%;
}

#stage7-level7 {
    position: absolute;
    top: 17%;
    left: 54%;
}

#stage7-level8 {
    position: absolute;
    top: 17%;
    left: 66%;
}

#stage7-level9 {
    position: absolute;
    top: 17%;
    left: 78%;
}

#stage7-level10 {
    position: absolute;
    top: 17%;
    left: 89%;
}
/* End of stage 7 */

.back-redirect{
    position: absolute;
    top: 2%;
    left: 2%;
	z-index: 5;
}