/* Start of stage backgrounds */
#mainBackground {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
/* End of stage backgrounds */

/* Start of level's stars */
.level-stars {
    position: absolute;
    bottom: -50%;
    left: -25%;
}

.level-star1 {
    position: relative;
    left: -5%;
}

.level-star2 {
    position: relative;
    left: -10%;
}

.level-star3 {
    position: relative;
    left: -15%;
}
/* End of level's stars */

/* Start of stage 1 */
#stage1-level1 {
    position: absolute;
    top: 43%;
    left: 4%;
}

#stage1-level2 {
    position: absolute;
    top: 28%;
    left: 17%;
}

#stage1-level3 {
    position: absolute;
    top: 18%;
    left: 32%;
}

#stage1-level4 {
    position: absolute;
    top: 12%;
    left: 48%;
}

#stage1-level5 {
    position: absolute;
    top: 14%;
    left: 65%;
}

#stage1-level6 {
    position: absolute;
    top: 44%;
    left: 72%;
}

#stage1-level7 {
    position: absolute;
    top: 55%;
    left: 55%;
}

#stage1-level8 {
    position: absolute;
    top: 77%;
    left: 53%;
}

#stage1-level9 {
    position: absolute;
    top: 77%;
    left: 70%;
}

#stage1-level10 {
    position: absolute;
    top: 78%;
    left: 87%;
}
/* End of stage 1 */

/* Start of stage 2 */
#stage2-level1 {
    position: absolute;
    top: 43%;
    left: 4%;
}

#stage2-level2 {
    position: absolute;
    top: 28%;
    left: 17%;
}

#stage2-level3 {
    position: absolute;
    top: 18%;
    left: 32%;
}

#stage2-level4 {
    position: absolute;
    top: 12%;
    left: 48%;
}

#stage2-level5 {
    position: absolute;
    top: 14%;
    left: 65%;
}

#stage2-level6 {
    position: absolute;
    top: 44%;
    left: 72%;
}

#stage2-level7 {
    position: absolute;
    top: 55%;
    left: 55%;
}

#stage2-level8 {
    position: absolute;
    top: 77%;
    left: 53%;
}

#stage2-level9 {
    position: absolute;
    top: 77%;
    left: 70%;
}

#stage2-level10 {
    position: absolute;
    top: 78%;
    left: 87%;
}
/* End of stage 2 */

/* Start of stage 3 */
#stage3-level1 {
    position: absolute;
    top: 43%;
    left: 4%;
}

#stage3-level2 {
    position: absolute;
    top: 28%;
    left: 17%;
}

#stage3-level3 {
    position: absolute;
    top: 18%;
    left: 32%;
}

#stage3-level4 {
    position: absolute;
    top: 12%;
    left: 48%;
}

#stage3-level5 {
    position: absolute;
    top: 14%;
    left: 65%;
}

#stage3-level6 {
    position: absolute;
    top: 44%;
    left: 72%;
}

#stage3-level7 {
    position: absolute;
    top: 55%;
    left: 55%;
}

#stage3-level8 {
    position: absolute;
    top: 77%;
    left: 53%;
}

#stage3-level9 {
    position: absolute;
    top: 77%;
    left: 70%;
}

#stage3-level10 {
    position: absolute;
    top: 78%;
    left: 87%;
}
/* End of stage 3 */

/* Start of stage 4 */
#stage4-level1 {
    position: absolute;
    top: 43%;
    left: 4%;
}

#stage4-level2 {
    position: absolute;
    top: 28%;
    left: 17%;
}

#stage4-level3 {
    position: absolute;
    top: 18%;
    left: 32%;
}

#stage4-level4 {
    position: absolute;
    top: 12%;
    left: 48%;
}

#stage4-level5 {
    position: absolute;
    top: 14%;
    left: 65%;
}

#stage4-level6 {
    position: absolute;
    top: 44%;
    left: 72%;
}

#stage4-level7 {
    position: absolute;
    top: 55%;
    left: 55%;
}

#stage4-level8 {
    position: absolute;
    top: 77%;
    left: 53%;
}

#stage4-level9 {
    position: absolute;
    top: 77%;
    left: 70%;
}

#stage4-level10 {
    position: absolute;
    top: 78%;
    left: 87%;
}
/* End of stage 4 */

/* Start of stage 5 */
#stage5-level1 {
    position: absolute;
    top: 43%;
    left: 4%;
}

#stage5-level2 {
    position: absolute;
    top: 28%;
    left: 17%;
}

#stage5-level3 {
    position: absolute;
    top: 18%;
    left: 32%;
}

#stage5-level4 {
    position: absolute;
    top: 12%;
    left: 48%;
}

#stage5-level5 {
    position: absolute;
    top: 14%;
    left: 65%;
}

#stage5-level6 {
    position: absolute;
    top: 44%;
    left: 72%;
}

#stage5-level7 {
    position: absolute;
    top: 55%;
    left: 55%;
}

#stage5-level8 {
    position: absolute;
    top: 77%;
    left: 53%;
}

#stage5-level9 {
    position: absolute;
    top: 77%;
    left: 70%;
}

#stage5-level10 {
    position: absolute;
    top: 78%;
    left: 87%;
}
/* End of stage 5 */

/* Start of stage 6 */
#stage6-level1 {
    position: absolute;
    top: 43%;
    left: 4%;
}

#stage6-level2 {
    position: absolute;
    top: 28%;
    left: 17%;
}

#stage6-level3 {
    position: absolute;
    top: 18%;
    left: 32%;
}

#stage6-level4 {
    position: absolute;
    top: 12%;
    left: 48%;
}

#stage6-level5 {
    position: absolute;
    top: 14%;
    left: 65%;
}

#stage6-level6 {
    position: absolute;
    top: 44%;
    left: 72%;
}

#stage6-level7 {
    position: absolute;
    top: 55%;
    left: 55%;
}

#stage6-level8 {
    position: absolute;
    top: 77%;
    left: 53%;
}

#stage6-level9 {
    position: absolute;
    top: 77%;
    left: 70%;
}

#stage6-level10 {
    position: absolute;
    top: 78%;
    left: 87%;
}
/* End of stage 6 */

/* Start of stage 7 */
#stage7-level1 {
    position: absolute;
    top: 43%;
    left: 4%;
}

#stage7-level2 {
    position: absolute;
    top: 28%;
    left: 17%;
}

#stage7-level3 {
    position: absolute;
    top: 18%;
    left: 32%;
}

#stage7-level4 {
    position: absolute;
    top: 12%;
    left: 48%;
}

#stage7-level5 {
    position: absolute;
    top: 14%;
    left: 65%;
}

#stage7-level6 {
    position: absolute;
    top: 44%;
    left: 72%;
}

#stage7-level7 {
    position: absolute;
    top: 55%;
    left: 55%;
}

#stage7-level8 {
    position: absolute;
    top: 77%;
    left: 53%;
}

#stage7-level9 {
    position: absolute;
    top: 77%;
    left: 70%;
}

#stage7-level10 {
    position: absolute;
    top: 78%;
    left: 87%;
}
/* End of stage 7 */