.mode {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 1;
}
.img-mode {
    width: 25%;
    padding: 20px;
}

.img-mode:hover {
    transform: scale(1.02);
}