@import url('http://fonts.cdnfonts.com/css/glacial-indifference-2');

*{
    font-family: 'Glacial Indifference', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --orange_primary: #FA9238;
    --yellow_700: #FBC12B;
    --blue_primary: #161E54;
    --blue_secondary: #656C97;
    --white: #FAFDFF;
}

.bg{
    background-color: var(--blue_primary);
    width: 100%;
    min-height: 100vh;
    cursor: none;
}

.navigation{
    position: relative;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
}
.context{
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#radiance{
    color: var(--white);
    font-size: 70px;
}

.cursor{
    position: fixed;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--white);
    transition: 0.1%;
    transform: translate(-50%,-50%);
    pointer-events: none;
    mix-blend-mode: difference;
}
#radiance:hover ~ .cursor{
    transform: scale(7);
}

