@import url("http://fonts.cdnfonts.com/css/glacial-indifference-2");

* {
    font-family: "Glacial Indifference", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --orange_primary: #fa9238;
    --yellow_700: #fbc12b;
    --blue_primary: #161e54;
    --blue_secondary: #656c97;
    --white_smoke: #fafdff;
}

/* Start of Javascript purpose style */
#stageNumber,
#levelNumber {
    display: none;
}
/* End of Javascript purpose style */

/* Start of stage backgrounds */
#main-background {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#main-background-image {
    position: absolute;
    z-index: -10;
}
/* End of stage backgrounds */

/* Start of UI */
#ui {
    width: 100%;
    position: absolute;
    top: 25%;
}

#ui-elements {
    position: relative;
}

#dialogue-box{
    margin-left: 12px;
    margin-right: 12px;
    height: 100%;
}

.text {
    color: white;
}
.score-timer-text{
    font-size: 30px;
}
/* End of UI */

/* Start of option bar */
#option-bars {
    /*position: absolute;*/
    background: blue;
    z-index: 1;
    /* margin-right: 10%; */
}

.option-bar {
    position: relative;
}

.option-bar-button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.option-bar-text {
    position: absolute;
    top: 42%;
    left: 15%;
    transform: translateY(-50%);
}
/* End of option bar */

/* Start of dialogue box */
#dialogue-box {
    position: absolute;
    top: -10%;
    background: red;
}
#dialogue-box-image {

}
#dialogue-text {
    width: 90%;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
#dialogue-text-conversation{
    font-size: 18px;
}
/* End of dialogue box */


/* Start of action buttons */
#action-buttons {
	position: absolute;
	bottom: 5%;
	right: 5%;
}
/* End of action buttons */
